.container {
  background: rgba(0, 0, 0, 0.05);
  border-radius: 12px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  border: none;
  display: flex;
  align-items: center;
  transition: background 0.1s ease, color 0.1s;
}

.disabled {
  background: rgba(0, 0, 0, 0.05);
}

.primary {
  background: rgba(0, 0, 0, 0.05);
}

.primary:active {
  background: rgba(0, 0, 0, 0.1);
}

.secondary {
  background: #c23b22;
}

.secondary:active {
  background: #912c19;
}

.secondary > span {
  color: white;
}

.tertiary {
  background: #fff;
}

.tertiary:active {
  background: #dadada50;
}

.tertiary > span {
  color: black;
}

.transparent {
  background: transparent;
  box-shadow: unset;
}

.center {
  justify-content: center;
}

.left {
  justify-content: flex-start;
}

.right {
  justify-content: flex-end;
}

.minWidth {
  width: fit-content;
}

.fullWidth {
  width: 100%;
}

.minHeight {
  height: fit-content;
}

.fullHeight {
  height: 100%;
}

.label {
  font-weight: 800;
}

.sm {
  padding: 5px 10px;
}

.md {
  padding: 10px 15px;
}

.ld {
  padding: 15px 20px;
}