.container {
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 12px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.disabled {
  background-color: rgba(0, 0, 0, 0.05);
}

.primary {
  background-color: rgba(0, 0, 0, 0.05);
}

.secondary {
  background-color: #c23b22;
}

.secondary > span {
  color: white;
}

.tertiary {
  background-color: #fff;
}

.tertiary > span {
  color: black;
}

.transparent {
  background-color: transparent;
  box-shadow: unset;
}

.center {
  justify-content: center;
}

.left {
  justify-content: flex-start;
}

.right {
  justify-content: flex-end;
}

.minWidth {
  width: fit-content;
}

.fullWidth {
  width: 100%;
}

.minHeight {
  height: fit-content;
}

.fullHeight {
  height: 100%;
}

.label {
  font-weight: 800;
}