.icon > span {
  color: black;
}

.sm {
  width: 16px;
  height: 16px;
}

.sm > svg {
  width: 14px;
  height: 14px;
}

.md {
  width: 20px;
  height: 20px;
}

.md > svg {
  width: 18px;
  height: 18px;
}

.lg {
  width: 24px;
  height: 24px;
}

.lg > svg {
  width: 22px;
  height: 22px;
}
