.wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  overflow: hidden;
  position: relative;
  padding: 0 20px;
  background-color: #fff;
}

.content {
  position: relative;
  width: 100%;
  max-width: 820px;
  overflow-y: auto;
  flex: 1;
  margin-inline: auto;
}
