.bottomSection {
  width: 100%;
  bottom: 0;
  z-index: 1000;
  position: fixed;
  pointer-events: none;
}

.bottomSectionContainer {
  display: flex;
  transition: all 200ms;
  pointer-events: none;
  justify-content: space-between;
  padding: 16px 24px;
}

.bottomSectionRoot {
  order: 1;
  position: relative;
  flex-shrink: 0;
  margin-left: auto;
}

.bottomSectionFrame {
  height: 56px;
  overflow: hidden;
  transition: width 200ms;
  will-change: width;
  border-radius: 56px;
}

.goUpButton {
  color: #21201f;
  border: 0;
  height: 100%;
  margin: 0;
  z-index: 1;
  position: relative;
  backdrop-filter: blur(6px);
  background-color: rgba(255, 255, 255, 0.8);
  transition: opacity 200ms, transform 200ms;
  white-space: nowrap;
  pointer-events: initial;
  padding: 16px;
  min-width: 56px;
  border-radius: 56px;
}

.goUpButtonInvisible {
  transform: translateX(0px) scale(0);
  opacity: 0;
  transform: scale(0);
}

.goUpButtonVisible {
  transform: translateX(0px) scale(1);
  opacity: 1;
  transform: scale(1);
}
