.wrapper {
  background-color: #fff;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  padding: 0;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
}

.menuItem {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  color: black;
}

.notActive {
  background-color: #fff;
}

.active {
  background-color: #c23b22;
}

.active > div > * {
  color: white;
}
