.wrapper {
  top: 0;
  left: 0;
  position: absolute;
  z-index: 10000;
  background-color: white;
  height: 100vh;
  width: 100vw;
}

.block {
  width: 100%;
  height: 100%;
}

.text {
  margin: 0 !important;
}

.errorBlock {
  background-color: white;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
  padding: 10px 20px;
  border-radius: 24px;
}
