.container {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
  margin-top: 20px;
}

.logoutButton {
  background-color: #c23b22;
}

.logoutButton > span {
  color: white;
}

.loginText {
  text-align: center;
}

.loginButton {
  height: 50px;
}

.loginWrapper {
  height: 100%;
}
