.container {
  height: 100%;
  padding: 20px;
}

.input {
  height: 35px;
}

.fullW {
  width: 100%;
}

.confirmText {
  text-align: center;
}

.imageContainer {
  display: flex;
  justify-content: center;
}
