.navBar {
  padding: 0 10px;
  display: flex;
  z-index: 1;
  position: relative;
  flex-wrap: nowrap;
  min-height: 65px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: row;
  padding-bottom: 4px;
  justify-content: space-between;
  background-color: #ffffff;
}
