.header {
  padding-top: 64px;
  display: flex;
  overflow: hidden;
  position: relative;
  min-height: 220px;
  margin-bottom: -24px;
  flex-direction: column;
  justify-content: flex-end;
}

.navBlock {
  padding-top: 0;
  top: 0;
  width: 100%;
  display: flex;
  padding: 0 8px;
  position: absolute;
  transition: opacity 100ms;
  align-items: center;
  padding-top: max(var(--safe-area-inset-top-helper, 0px), 0px);
  justify-content: space-between;
}

.goBackButton {
  width: 40px;
  height: 40px;
  margin: 16px 4px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  border-radius: 100px;
  vertical-align: middle;
  justify-content: center;
  transition-duration: 300ms;
  backdrop-filter: blur(6px);
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
}

.headerImage {
  height: 283px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  will-change: height, position;
  width: 100%;
  overflow: hidden;
}

.headerImage > img {
  width: 100%;
  object-fit: cover;
}

.nav {
  top: 0;
  width: 100%;
  z-index: 105;
  position: fixed;
  margin-top: -1px;
}

.headerGradient {
  width: 100%;
  bottom: 0;
  height: 75%;
  position: absolute;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.4) 88%,
    rgba(0, 0, 0, 0.4) 100%
  );
}

.titleWrapper {
  padding: 0 16px 56px;
  z-index: 1;
}

.title {
  color: #ffffff;
  font-size: 32px;
  font-weight: 800;
  line-height: 28px;
  text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 14px;
  text-overflow: ellipsis;
  letter-spacing: -0.025em;
}

.menu {
  padding-top: 5px;
  border-radius: 24px;
  z-index: 1;
  position: relative;
  background: #ffffff;
  min-height: 100vh;
}

.bottomSheet {
  left: 0;
  width: 100%;
  bottom: 0;
  position: sticky;
  z-index: 1000;
}

.bottomSheetRoot {
  position: relative;
}

.bottomSheetContent {
  padding: 12px 16px;
  box-shadow: 0 -4px 20px rgba(0, 0, 0, 0.12);
  min-height: 52px;
  border-radius: 24px 24px 0 0;
  background-color: #ffffff;
}

.bottomSheetButton {
  color: inherit;
  width: 100%;
  border: 0;
  display: flex;
  padding: 0;
  font-size: 13px;
  text-align: center;
  align-items: center;
  line-height: 15px;
  justify-content: center;
  background-color: #ffffff;
}

.bottomSheetContentMain {
  gap: 2px;
  flex: 0 1 auto;
  display: flex;
  min-width: 1px;
  flex-direction: column;
}

.bottomSheetContentMainFirst {
  color: rgb(33, 32, 31);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.bottomSheetContentMainSecond {
  color: rgb(158, 155, 152);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
